#premier_bloc
{
	margin-top:40px;
}

.progress-bar 
{
	width: 0%
}

#auteurs
{
	margin-top:80px;
}

textarea
{
	margin-top:20px;
}

#infos table
{
	width: 50%;
}

#projectName
{
	text-align: left;
	width: 25%;
}

#nbUsers
{
	text-align: right;
	width: 25%;
}