textarea
{
	resize:vertical;
}

body
{
	padding-bottom:20px;
}

#boutons
{
	margin-top:20px;
}

.bloc
{
	background-color:#02b6cb;
	padding-bottom:10px;
	color:white;
	border-radius:8px;
	margin-top:20px;
}

.bloc td
{
	font-size:20px;
}

#premier_bloc
{
	margin-top:40px;
}

h1
{
	color:#02b6cb;
	font-size: 1.8em;
	line-height: 2.5;
}
.progress-bar 
{
	width: 0%
}

#auteurs
{
	margin-top:80px;
}

#projectName
{
	text-align: left;
	width: 25%;
}

#nbUsers
{
	text-align: left;
	width: 25%;
}

#submit
{
	margin-top: 15px;
	margin-bottom: 40px; 
}
